<section style="background-color: #eee; height: 150px;">
  <div class="container py-1">
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img src="<%=data.image%>" style="height: 100px; width: 120px;" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h4><%=data.name%></h4>
                <h5 style="color: green;">Size: <%=data.Size%></h5>

                <p class="text-truncate mb-4 mb-md-0">
                    <%=data.Note%>
                </p>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1" style="color: rgb(0, 83, 128);"><%=data.Quantity%></h4>
                </div>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-2 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1" style="color: green;"><%=data.Price%></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>